@import '../../../styles/globals.scss';

.container {
	&-outer {
		& > .label {
			margin: 0;
			font-size: 1rem;
			font-weight: bold;
		}
		& > .value {
			margin: 0;
			font-size: 1rem;
			margin-bottom: 0.75rem;
		}

		border-bottom: 2px solid;
		margin-bottom: 0.5rem;
	}
	&-inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}
}

.threshold {
	&-container {
		display: flex;
		flex-direction: column;
		margin-right: 0.5rem;
	}
	&-amount {
		font-size: 1rem;
		margin: 0px;
		text-align: center;
		color: $dimmed-text-color;
	}
	&-label {
		font-size: 1rem;
		margin: 0px;
		text-align: center;
		color: $dimmed-text-color;
	}
}

.highlighted {
	> p {
		color: $text-color;
	}
}
