$nav-tab-height: 5rem;
.navigation-tab {
	&--wrapper {
		display: flex;
		align-items: center;
		gap: 1rem;
		height: $nav-tab-height;
	}
}

.wrapper {
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

$content-pad: 2rem;
.main {
	width: calc(100% - 2 * $content-pad);
	padding: 0 $content-pad;
}

.navbar {
	width: 120px;
}