$error-color: #970000;

$text-color: #fff;

$primary-color: #29273a;
$secondary-color: #414a69;
$tertiary-color: #2f354d;
$highlight-color: #a976ec;
$border-color: $text-color;

$button-foreground: $text-color;
$button-background: #1a1a1a;

$title-bar-height: 2rem;
