$error-color: #970000;

$text-color: #fff;

$ui-primary-color: #242424;
$ui-secondary-color: #3d3f46;
$ui-highlight-color: #646cff;

$ui-button-foreground: $text-color;
$ui-button-background: #1a1a1a;
