@import '@/styles/globals.scss';
.container {
	overflow-y: auto;
	width: 100%;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-track {
		background: $secondary-color;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background: $button-background;
		border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: adjust-color(
			$color: $button-background,
			$hue: 0,
			$saturation: 0%,
			$lightness: 10%,
			$alpha: 1
		);
	}
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}
