@import '@/styles/globals.scss';

$nav-menu-width: 60px;
$nav-button-margin: 7px;
$nav-button-width: $nav-menu-width - 2 * $nav-button-margin;

.nav-menu {
	width: $nav-menu-width;
	height: 100%;
	padding-top: 10px;
}

.button-wrapper {
	height: $nav-button-width;
	width: $nav-button-width;
	margin: $nav-button-margin;
}
